.statList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.statItem {
  font-size: x-large;
  text-transform: capitalize;
  text-align: center;
}

.statItem span {
  font-weight: bold;
}
